ul.pagination {
    width: 300px;
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 8px;
    flex-wrap: wrap;
}

li.page-item.prev {
    margin-right: 16px;
}

li.page-item.next {
    margin-left: 16px;
}

.page-item {
    padding: 4px 8px;
    border: solid 1px #333;
    background-color: #fff;
}

.page-item a{
    text-decoration: none;
    color: #333;
}

.page-item.pageNumbers {
    width: 100%;
    border: none;
    text-align: center;
}

.page-item.number.navi-active {
    background-color: #ddd;
}
