ul.pagination {
    width: 320px;
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 8px;
    flex-wrap: wrap;
}

.prev,.next {
    padding: 4px 12px;
    border: solid 1px #333;
    background-color: #f5f5f5;
}

.prev {
    margin-right: 16px;
}

.prev a,.next a {
    text-decoration: none;
    color: #333;
}

.next {
    margin-left: 16px;
}

.page-item {
    padding: 4px 8px;
    border: solid 1px #333;
    background-color: #f5f5f5;
}

.page-item a{
    text-decoration: none;
    color: #333;
}

.pageNumbers {
    width: 100%;
    border: none;
    text-align: center;
    text-decoration: none;
}

.pageNumbers a {
    text-decoration: none;
    color: #333;
}

.navi-active {
    background-color: #ddd;
}
